.ModalForm {
  min-width: 80vw;
  display: flex;
  justify-content: center;
}

.ModalForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ModalForm__name {
  margin: 0 10px;
}
